/* general */

@font-face {
    font-family: Avenir-Medium;
    src: url(../fonts/Avenir-Medium.ttf)
}

@font-face {
    font-family: Avenir book;
    src: url(../fonts/Avenir-Book.ttf)
}

@font-face {
    font-family: Avenir black;
    src: url(../fonts/Avenir-Black.ttf)
}

@font-face {
    font-family: Avenir heavy;
    src: url(../fonts/Avenir-Heavy.ttf)
}

@font-face {
    font-family: Avenir-Light;
    src: url(../fonts/Avenir-Light.ttf)
}


body {
    background: #F6F7FA;
    font-family: Avenir book;
    position: relative;
    overflow-x: hidden;
    color: #2E2E2E;
}

button,
button:focus {
    outline: none;
}

h4 {
    font-size: 20px;
    margin-bottom: 20px;
    font-family: Avenir heavy;
}

h5 {
    font-size: 18px;
    margin-bottom: 20px;
    font-family: Avenir heavy;
}

h6 {
    font-size: 16px;
    margin-bottom: 20px;
    font-family: Avenir heavy;
}

header.header {
    background: #fff;
    border-bottom: 1px solid #D9D9D9;
    display: flex;
    position: relative;
    height: 60px;
}

.header__leftsect {
    max-width: 240px;
    width: 100%;
    border-right: 1px solid #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__leftsect img {
    max-width: 100%;
    max-height: 100%;
}

.header__rightsect {
    max-width: calc(100% - 240px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

.header__burger {
    width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    background: transparent;
    padding: 0;
}

.header__burger img {
    width: 24px;
    height: 24px;
}

.header__user {
    position: relative;
}

.header__userpic {
    height: 44px;
    width: 44px;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #fff;
}

.header__userpic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__userdropdown {
    position: absolute;
    right: 0;
    top: 57px;
    background: #fff;
    width: 200px;
    box-shadow: 0px 3px 13px rgb(0 0 0 / 7%);
    display: none;
    z-index: 11;
}

.header__userdropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 15px 0;

}

.header__username {
    font-family: Avenir heavy;
    display: block;
    padding-right: 15px;
    text-align: center;
    text-align: right;
}

.header__username i {
    font-size: 12px;
    display: block;
}

.header__userdropdown ul li a {
    color: #2E2E2E;
    display: block;
    height: 44px;
    padding: 2px 5px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header__userdropdown ul li a:hover {
    text-decoration: none;
    background: #FF9334;
    font-size: 16px;
    color: #fff;
    font-family: Avenir heavy;
}

.header__userdropdown ul li a:after {
    content: '';
    display: block;
    margin: 0 auto;
    width: calc(100% - 40px);
    height: 1px;
    background: #DEE5EF;
    position: absolute;
    top: 0;
}

.header__userdropdown ul li a:hover:after,
.header__userdropdown ul li:first-child a:after {
    display: none;
}

.header__userdropdown ul li {
    position: relative;
}

.left-sb {
    max-width: 240px;
    width: 100%;
    background-color: #222d32;
    overflow: auto;
    min-height: 500px;
}

.content-wrapper {
    max-width: calc(100% - 240px);
    width: 100%;
}

.content-section {
    min-height: calc(100vh - 110px);
    padding: 20px;
}

.footline {
    height: 50px;
    background-color: #fff;
    width: 100%;
    border-top: 1px solid #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
}

.footline p {
    margin: 0;
}

.footline a {
    color: #FF9334;
    display: inline-block;
    margin-left: 5px;
    font-family: Avenir-Medium;
}

.header__user .d-flex {
    cursor: pointer;
}

.left-sb ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 240px;
}

.left-sb ul .item>a {
    cursor: pointer;
    min-height: 44px;
    display: flex;
    align-items: center;
    padding: 5px 5px 5px 16px;
    color: #fff;
    text-decoration: none;
    position: relative;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    opacity: .7;
    font-size: 14px;
}

.left-sb ul .item>a span {
    display: block;
    width: 100%;
    padding-right: 20px;
}

.left-sb ul .item .fa {
    margin-right: 15px;
}

.left-sb ul .item>span {
    font-family: Avenir-Medium;
}

.left-sb ul .item>a:after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url('../img/down-chevron.svg') no-repeat center / 10px;
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    opacity: .7;
}

.left-sb ul .item>a:hover:after {
    opacity: 1;
}

.left-sb,
.content-wrapper,
.header__leftsect,
.header__rightsect {
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    animation-timing-function: ease-in-out;
}

.small-sb .left-sb {
    max-width: 44px;
}

.small-sb .content-wrapper {
    max-width: calc(100% - 44px);
}

.header.small-sb .header__leftsect {
    max-width: 44px;
}

.header.small-sb .header__rightsect {
    max-width: calc(100% - 44px);
}

.logoimg-small {
    display: none;
}

.header.small-sb .logoimg-small {
    display: block;
}

.header.small-sb .logoimg {
    display: none;
}

.left-sb ul.sublist li {
    margin-bottom: 4px;
}

.left-sb ul.sublist li a i.fa {
    font-weight: 500;
    position: absolute;
    top: 6px;
    left: 20px;
}

.left-sb ul.sublist li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    display: block;
    padding: 3px 5px 3px 40px;
    position: relative;
    opacity: .5;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.left-sb ul.sublist {
    background: #2c3b41;
    padding: 10px 0;
    display: none;
}

.left-sb ul.sublist li a:hover,
.left-sb ul.sublist li.active a {
    opacity: 1;
}

.left-sb ul .item>a:hover,
.left-sb ul .item.active>a {
    opacity: 1;
    color: #fff;
    background: #1e282c;
}

.left-sb ul li {
    position: relative;
}

.small-sb .left-sb {
    overflow: hidden;
}

.small-sbhover .left-sb {
    max-width: 240px;
}

.small-sbhover .content-wrapper {
    max-width: calc(100% - 240px);
}

.content__header h1,
.titleh1,
.content__header h2.titleh1 {
    font-size: 28px;
    margin-bottom: 20px;
    font-family: Avenir heavy;
}

.content__header h2 {
    font-family: Avenir heavy;
    font-size: 28px;
    margin-bottom: 20px;
}

.content__header h3 {
    font-family: Avenir heavy;
    font-size: 24px;
}

.searchsection {
    max-width: 500px;
    position: relative;
}

.searchsection input {
    height: 42px;
    padding-right: 40px;
}

.searchsection .searchbtn {
    width: 42px;
    height: 42px;
    background-color: #269FA3;
    background-image: url('../img/search-ic.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    padding: 0;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.searchsection .searchbtn:hover {
    background-color: #1E7B7E;
}

.searchsection .searchbtn:focus {
    box-shadow: none;
}

.searchsection input:focus,
.form-control:focus {
    border-color: #269fa3;
    box-shadow: 0 0 0 0.2rem rgb(38 159 163 / 5%);
}

.greenbtn {
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    border: none;
    color: #fff;
    background: #269FA3;
    font-family: Avenir-Medium;
    font-size: 16px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.content__header .greenbtn:not(:first-child) {
    margin-left: 15px;
}

.greenbtn:hover {
    background: #1E7B7E;
    color: #fff;
    text-decoration: none;
}

.content__header {
    margin-bottom: 40px;
}

.table-hover tbody tr:hover {
    color: #212529;
    background-color: rgb(38 159 163 / 5%);
}

.tablebtn {
    border: none;
    padding: 0;
    outline: none;
    width: 32px;
    height: 32px;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    font-size: 14px;
}

.tablebtn-edit {
    background: #FF9334;
    border: 1px solid #FF9334;
}

.tablebtn-edit:hover {
    background: #fff;
    border: 1px solid #FF9334;
    color: #FF9334;
}

.tablebtn-edit i,
.tablebtn-clone i {
    font-weight: 500;
}

.tablebtn-clone {
    background: #269fa3;
    border: 1px solid #269fa3;
}

.tablebtn-clone:hover {
    background: #fff;
    border: 1px solid #269fa3;
    color: #269fa3;
}

.tablebtn-check {
    background: #9a9a9a;
    border: 1px solid #9a9a9a;
}

.tablebtn-check:hover {
    color: #9a9a9a;
    background: #fff;
}

.tablebtn-delete {
    background: #DF3030;
    border: 1px solid #DF3030;
}

.tablebtn-delete:hover {
    background: #fff;
    border: 1px solid #DF3030;
    color: #DF3030;
}

.generaltable tr th,
.generaltable tr td {
    min-width: 150px;
}

.content__body .pagination ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content__body .pagination ul li {
    display: inline-block;
}

.content__body .pagination ul li a {
    font-family: Avenir heavy;
    font-size: 14px;
    line-height: 130%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, .9);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.content__body .pagination ul li.active a {
    font-size: 18px;
    color: #FF6200;
}

.content__body .pagination ul li a:hover {
    text-decoration: none;
    color: #FF6200;
}

.content__body .pagination {
    justify-content: center;
    margin: 20px 0;
}

.content__body .pagination ul li a svg path {
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.content__body .pagination ul li a:hover svg path {
    fill: #FF6200;
}

.header__userdropdown .header__username {
    display: none;
}

.general-smallmodal .modal-dialog {
    max-width: 540px;
}

.modal-content {
    border: none;
}

.general-smallmodal .title {
    text-align: center;
    margin-bottom: 8px;
    color: rgba(0, 0, 0, .9);
    font-family: Avenir heavy;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.01em;
    margin-bottom: 20px;
}

.general-smallmodal .subtitle {
    font-family: Avenir heavy;
    font-size: 18px;
    border-bottom: 1px solid #ececec;
}

.inpdropfield {
    display: inline-block;
    position: relative;
    width: 100%;
}

.inpdropfield input {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.addcoursesection__contblock label,
.addcoursesection__contblock .labtitle {
    color: #2E2E2E;
    font-size: 14px;
    margin-bottom: 2px;
    display: inline-block;
}

.file-upload.file-select {
    max-width: 100%;
    width: 100%;
    height: 160px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px dashed #A4B0C0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 20px;
}

.file-select-button img {
    margin-bottom: 4px;
}

.file-select-button p,
.file-select-button .imp {
    margin: 0;
    font-size: 14px;
    color: #394A64;
    display: block;
}

.file-select-button .imp span,
.file-select-button .imp b {
    color: #FF9334;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.file-select-name {
    color: #FF9334;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px;
}

.modal-btn,
.allow-btn,
.cancel-btn {
    border: 1px solid #269FA3;
    padding: 11px;
    width: calc(50% - 10px);
    text-align: center;
    color: #fff;
    font-family: Avenir-Medium;
    font-size: 18px;
    line-height: 140%;
    background: #269FA3;
    border-radius: 10px;
    display: inline-block;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.cancel-btn {
    background-color: #fff;
    color: #269FA3;
}

.cancel-btn:hover {
    color: #fff;
    background-color: #269FA3;
}

.general-smallmodal .modal-footer,
.general-smallmodal .modal-body {
    padding: 20px 24px;
}

.allow-btn:hover {
    background: #1E7B7E;
    color: #fff;
}

.modal-body>div:last-child {
    margin-bottom: 0;
}

.modalform__group input,
.pageform__group input {
    width: 100%;
    height: 42px;
    outline: none;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    color: #2E2E2E;
    font-size: 14px;
    font-family: Avenir book;
    background: #fff;
    border: 1px solid #DEE5EF;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.modalform__group label,
.inpdropfield label.labtit,
.pageform__group label {
    font-size: 16px;
    font-family: Avenir heavy;
    margin: 0 0 5px 0;
    cursor: pointer;
}

.pageform__group label span {
    color: #FF9334;
}

.modalform__group input[type="checkbox"],
.pageform__group input[type="checkbox"] {
    display: none;
}

.checkfield label {
    position: relative;
    cursor: pointer;
    padding-left: 24px;
}

.checkfield label:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #8C8C8C;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.checkfield input:checked+label::before {
    background-color: #FF9334;
    border-color: #FF9334;
}

.modalsubtitle {
    font-size: 16px;
    font-family: Avenir heavy;
    margin: 0 0 10px 0;
}

.radiosection p {
    font-family: Avenir heavy;
    line-height: normal;
}

.radiosection_starter p {
    color: #3C698F;
}

.radiosection_premium p {
    color: #FF6200;
}

.radiosection_yourown p {
    color: #269FA3;
}

.radioboxes__wrapper input {
    display: none;
}

.radioboxes__wrapper label {
    display: block;
    position: relative;
    padding-left: 22px;
    cursor: pointer;
}

.radioboxes__wrapper label:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    background-color: #fff;
    border: 1px solid #8C8C8C;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.radioboxes__wrapper input:checked+label::before {
    border-color: #FF9334;
}

.radioboxes__wrapper input:checked+label:after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 3px;
    top: 50%;
    background-color: #FF9334;
    margin-top: -1px;
    width: 10px;
    height: 10px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.checkfield input {
    display: none;
}

.servlist__checklist .checkfield label {
    margin-bottom: 0;
    line-height: normal;
    font-size: 14px;
}

.servlist__checklist .form-group {
    margin-bottom: 5px;
}

.servlist__checklist .checkfield label:before {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    top: 1px;
}

.modal button.close {
    position: absolute;
    right: 3px;
    top: 3px;
    width: 24px;
    height: 24px;
    padding: 4px;
    z-index: 2;
    cursor: pointer;
    display: flex;
    opacity: 1;
}

.modal button.close img {
    width: 100%;
    height: 100%;
}

.table thead th {
    vertical-align: top;
    font-family: Avenir heavy;
}

.select2-container {
    width: 100% !important;
}

.select2-container .select2-selection--single,
.select2-selection.select2-selection--multiple {
    height: 42px;
    border: 1px solid #DEE5EF;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 42px;
    font-size: 14px;
    font-family: Avenir book;
    padding-left: 16px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    outline: none;
    border-color: #269fa3;
    box-shadow: 0 0 0 0.2rem rgb(38 159 163 / 5%);
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #269fa3;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 50%;
    transform: translateY(-50%);
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-width: 7px 5px 0 5px;
    margin-left: -8px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-width: 0 5px 7px 5px;
}

.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar,
.form-group textarea::-webkit-scrollbar {
    width: 6px;
}

.select2-container .select2-selection--multiple .select2-selection__rendered::-webkit-scrollbar {
    width: 4px;
}

.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-track,
.form-group textarea::-webkit-scrollbar-track,
.select2-container .select2-selection--multiple .select2-selection__rendered::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-thumb,
.form-group textarea::-webkit-scrollbar-thumb,
.select2-container .select2-selection--multiple .select2-selection__rendered::-webkit-scrollbar-thumb {
    background-color: rgb(152, 152, 152);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.form-group textarea::-webkit-scrollbar-thumb {
    background-color: #269FA3;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.table-wrapper::-webkit-scrollbar {
    height: 6px;
}

.table-wrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.table-wrapper::-webkit-scrollbar-thumb {
    background-color: #269FA3;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.select2-dropdown {
    border: 1px solid #ced4da
}

.form-group textarea {
    resize: none;
    outline: none;
    width: 100%;
    height: 100px;
    padding-left: 16px;
    padding-right: 16px;
    color: #2E2E2E;
    font-size: 14px;
    font-family: Avenir book;
    background: #fff;
    border: 1px solid #DEE5EF;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding-top: 10px;
    display: flex;
}

.form-group textarea:focus {
    border-color: #269fa3;
    box-shadow: 0 0 0 0.2rem rgb(38 159 163 / 5%);
}

.btn.focus,
.btn:focus {
    box-shadow: 0 0 0 0.2rem rgb(38 159 163 / 5%);
}

.content-container:not(:last-child) {
    margin-bottom: 50px;
}

.table-wrapper {
    overflow: auto;
}

.servimg {
    margin-bottom: 1rem;
}

.checkinrow label {
    margin-right: 10px;
}

.btn.status {
    color: #fff;
    width: 90px;
    height: 40px;
    font-family: Avenir-Medium;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    font-size: 14px;
    font-weight: 500;
}

.btn.status.active {
    background: #269FA3;
}

.btn.status.active:hover {
    background: #1E7B7E;
}

.btn.status.inactive {
    background: #FF9334;
}

.btn.status.inactive:hover {
    background: #CC662C;
}

.modal-description p:last-child {
    margin-bottom: 0;
}

.seleckchecklist {
    position: relative;
}

.select2-selection.select2-selection--multiple {
    padding: 0 0 0 0;
}

.select2-search.select2-search--inline {
    display: none;
}

.select2-container .select2-search--inline .select2-search__field {
    margin: 0;
    font-size: 14px;
    font-family: Avenir book;
    height: 100%;
    line-height: 42px;
}

.select2-container .select2-search--inline .select2-search__field::placeholder {
    color: #999;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #DEE5EF;
    outline: 0;
}

.select2-container--default .select2-results__option--selected {
    background-color: #ebfeff;
}

.select2-container--default .select2-selection--multiple:before {
    content: ' ';
    display: block;
    position: absolute;
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 7px 5px 0 5px;
    margin-left: -8px;
    height: 0;
    right: 6px;
    margin-top: -2px;
    top: 50%;
    width: 0;
    cursor: pointer
}

.select2-container--open .select2-selection--multiple:before {
    content: ' ';
    display: block;
    position: absolute;
    border-color: transparent transparent #888 transparent;
    border-width: 0 5px 7px 5px;
    height: 0;
    right: 6px;
    margin-left: -8px;
    margin-top: -2px;
    top: 50%;
    width: 0;
    cursor: pointer
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: block;
    margin: 0;
    width: 100%;
    overflow: auto;
    max-height: 100%;
    padding-right: 20px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #269fa3;
    border: 1px solid #269fa3;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
    border-right: 1px solid #fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    color: #fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #2E2E2E;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
    background-color: #fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: #fff;
    margin-top: 7px;
}

.page-bottombtns {
    max-width: 500px;
    width: 100%;
}

.page-bottombtns button,
.page-bottombtns a {
    width: calc(50% - 20px);
    margin-right: 20px;
}

.page-bottombtns button:last-child,
.page-bottombtns a:last-child {
    margin-right: 0;
}

.file-select-button p,
.file-select-button .imp {
    font-family: Avenir book;
}

.table-slidersubtitle,
.table-slidertitle,
.table-description {
    line-height: normal;
    margin-bottom: 10px;
}

.table-slidersubtitle {
    font-size: 18px;
}

.table-slidertitle {
    font-size: 24px;
}

.table-description {
    font-size: 14px;
    margin-bottom: 0;
}

.table img {
    max-width: 100%;
}

.left-sb>ul {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100vh;
}

.content__header .pageform__group {
    padding-left: 20px;
}

.varmenu {
    display: none;
}

.varmenu.varmenu_main {
    display: block;
}

.checkfield input[type="radio"]+label:before {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.manuselecthide {
    display: none;
}

.action-wider td:last-child {
    min-width: 180px;
}

.tablebtn {
    margin-bottom: 5px;
}

.page-bottombtns.threebtn {
    max-width: 750px;
}

.page-bottombtns.threebtn button,
.page-bottombtns.threebtn a {
    width: calc(33.3333% - 20px);
}

.qa-categoryselect {
    display: none;
}

/* datepicker */
.calendar-wrap .calendar-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    background-image: url('../img/calendar2.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.calendar-wrap {
    position: relative;
}

.datepicker {
    padding: 0;
    width: 250px;
}

.datepicker table {
    width: 100%;
}

.datepicker-title {
    display: none !important;
}

.datepicker td,
.datepicker th {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.table-condensed thead tr:nth-child(2) th {
    color: #000;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}

.table-condensed thead tr th.prev,
.table-condensed thead tr th.next {
    color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    width: 32px;
    max-width: 32px;
    min-width: 32px;
    height: 40px;
    display: table;
}

.table-condensed thead tr th.prev {
    background-image: url(../img/calendar-prevarrow2.svg) !important;
    background-position: center right !important;
    background-repeat: no-repeat !important;
}

.datepicker .datepicker-switch {
    width: 184px;
}

.table-condensed thead tr th.next {
    background-image: url(../img/calendar-nextarrow2.svg) !important;
    background-position: center left !important;
    background-repeat: no-repeat !important;
}

.table-condensed thead tr:nth-child(2) {
    background-color: #D3F4F5;
    height: 40px;
}

.table-condensed thead tr:nth-child(3) {
    height: 27px;
    border-bottom: 1px solid #F3F5F7;
}

.table-condensed thead tr:nth-child(3) th.dow {
    color: #AEB9C5;
    font-size: 10px;
    line-height: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

.table-condensed tbody tr td.day {
    height: 26px;
    font-size: 14px;
    color: #5E6871;
}

.table-condensed tbody tr td.old.day,
.table-condensed tbody tr td.new.day {
    color: #E5E9ED;
}

.table-condensed tbody tr td.day {
    height: 26px;
    font-size: 14px;
    color: #5E6871;
    text-shadow: none;
}

.table-condensed tbody tr td.today.day,
.table-condensed tbody tr td.today.day:hover {
    background: transparent !important;
    color: #FF6200;
    font-weight: bold;
}

.datepicker table tr td.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active:hover {
    background: #d3f4f5 !important;
}

.datepicker .datepicker-switch:hover,
.datepicker .next:hover,
.datepicker .prev:hover,
.datepicker tfoot tr th:hover,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active:hover:active {
    background: #d3f4f5;
    text-shadow: none;
}

.month.focused.active,
.month.focused,
.month.active,
.year.active.focused,
.year.focused,
.year.active {
    color: #2e2e2e !important;
}

/* datepicker end */

.justify-content-center .page-bottombtns {
    max-width: 100%;
    text-align: center;
}

.justify-content-center .page-bottombtns button,
.justify-content-center .page-bottombtns a {
    width: 230px;
    max-width: 22%;
}

.col-ting {
    max-width: 400px;
    width: 100%;
}

.uploadimgbox {
    margin-bottom: 40px;
}

.file-upload .image-box {
    height: 160px;
    background: #fff;
    cursor: pointer;
    overflow: hidden;
    border-radius: 4px;
    border: 1px dashed #A4B0C0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
}

.file-upload .image-box img {
    height: 100%;
    display: none;
}

.file-upload .image-box p {
    position: relative;
    top: 45%;
    color: #000;
}

.file-upload .image-box .infotext img {
    display: block;
    margin: 0 auto;
}

.file-upload .image-box .infotext p {
    margin: 0;
    font-family: Avenir book;
    font-size: 14px;
    color: #2e2e2e;
}

.file-upload .image-box .infotext p span {
    color: #FF9334;
    font-weight: 600;
}

.datepicker:disabled {
    background-color: #dedede;
    opacity: .4;
    cursor: no-drop;
    border-color: #c3c3c3;
}

.statandsett {
    max-width: 800px;
}

.page-bottombtns {
    text-align: right;
}

.pb30 {
    padding-bottom: 50px;
}


.borderbott {
    border-bottom: 1px solid #e3e3e3;
}

.w-shedule-wrap__row {
    display: flex;
    margin-bottom: 20px;
}

.wshedule__day {
    max-width: 10%;
    width: 100%;
    flex: 0 0 10%;
}

.wshedule__select {
    max-width: 20%;
    width: 100%;
    flex: 0 0 20%;
}

.wshedule__text {
    text-align: center;
    max-width: 10%;
    flex: 0 0 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Avenir-Medium;
}

.wshedule__day span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 42px;
    color: #2E2E2E;
    font-family: Avenir heavy;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 3px 3px 13px 0 rgb(0 0 0 / 10%);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.wshedule__day span.active {
    color: #fff;
    border-color: #269FA3 !important;
    background-color: #269FA3;
}

.wshedule__day span:hover {
    box-shadow: none;
    border-color: #2E2E2E;
}

.wshedule__text p,
.wshedule__select .form-group {
    margin: 0;
}

.w-shedule-wrap__row .select2-container--default .select2-selection--multiple .select2-selection__choice {
    max-width: 90%;
}

.col-xl-4.col-lg-12 .col-ting {
    max-width: 100%;
}

.alertbtn {
    margin-right: 10px;
    cursor: pointer;
}

/* alert version 1 */
.alertbox.v1 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 3;
    background-color: #99cb99;
    display: flex;
    align-items: center;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.alertbox.v1.show {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.alertbox p {
    margin: 0;
    font-family: Avenir-Medium;
    padding-right: 30px;
}

.alertbox .container {
    position: relative;
}

.alertbox__close {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    padding: 0;
    background: transparent;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.alertbox__close img {
    max-width: 16px;
}

.alertbox__close:hover {
    opacity: .7;
}

.alertbox.error.v1,
.alertbox.error.v2 {
    background-color: #cb9999;
}

.alertbox.v2 {
    width: 400px;
    position: fixed;
    right: 0;
    top: 100px;
    background-color: #99cb99;
    padding: 15px;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.alertbox.v2.show {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.alertbox.v2 .alertbox__close {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    top: 10px;
    right: 10px;
}

#logout .descr p:last-child {
    margin-bottom: 0;
}

.uploadimgbox__addfile .col-ting {
    max-width: 100%;
    margin-top: 29px;
}

/* SIgn IN */

.signpage {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    min-height: 500px;
}

.signpage-formwrap {
    max-width: 360px;
    width: 100%;
    min-height: 350px;
}

.formsect {
    padding: 20px;
    background-color: #fff;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
    -webkit-filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.signpage__title {
    font-size: 26px;
    position: relative;
    z-index: 2;
}

.signpage__title span {
    font-family: Avenir heavy;
}

.signpage__inpfield input:not(input[type="submit"]),
.signpage__inpfield .checkfield {
    margin-bottom: 15px;
}

.signpage__inpfield .checkfield label {
    font-size: 14px;
    margin: 0;
}

.signpage__inpfield .checkfield label:before {
    margin-top: -1px;
}

.signpage__formtitle {
    font-family: Avenir-Medium;
}

.signpage__success {
    outline: none;
    border: none;
    padding: 0;
    background: #269FA3;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    color: #fff;
    font-family: Avenir-Medium;
    font-size: 16px;
    height: 38px;
    width: 180px;
    margin: 0 auto 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.signpage__success:hover {
    background: #1E7B7E;
}

.signpage__linktext {
    font-size: 14px;
    cursor: pointer;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    text-decoration: underline;
}

.signpage__linktext:hover {
    opacity: .7;
    text-decoration: none;
}

.signin.hide,
.forgotpassword.hide {
    display: none;
}

.signpage-formwrap .form-group {
    margin-bottom: 0;
}

.signpage .checkfield input:checked+label::before {
    background-color: #269FA3;
    border-color: #269FA3;
    background-image: url('../img/checksign.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85%;
}

.pagefulllogo {
    position: absolute;
}

.pagefulllogo {
    position: absolute;
    width: 200px;
    bottom: 20px;
    opacity: 1;
    right: 20px;
}

.abselement:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
}



.abselement3:after {
    border-left: 80px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 59px solid #269FA3;
    opacity: 1;
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
}

.abselement4:after {
    border-left: 171px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 174px solid #269FA3;
    opacity: .7;
    transform: rotate(-20deg);
    -webkit-transform: rotate(-291deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
}

.abselement5:after {
    top: 0;
    left: 0;
    opacity: .8;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    width: 0;
    height: 0;
    border-top: 1000px solid #269FA3;
    border-right: 1000px solid transparent;
}

#scene {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#scene>div:nth-child(1) {
    top: 65% !important;
    right: 63% !important;
    position: absolute !important;
    left: initial !important;
}

#scene>div:nth-child(2) {
    top: 29% !important;
    right: 42% !important;
    position: absolute !important;
    left: initial !important;
}

.left-sb .item.show ul.sublist {
    display: block;
}

/* pagination new */


.pagination.pagination__box ul li:first-child {
    margin-right: auto;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Avenir-Heavy";
}

.pagination.pagination__box ul li:last-child {
    margin-left: auto;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Avenir-Heavy";
}

.pagination.pagination__box .page-link {
    color: #2e2e2e;
    border-color: transparent;
}

.pagination.pagination__box .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}

.pagination.pagination__box .page-link,
.pagination.pagination__box .page-item.disabled .page-link {
    border-color: transparent;
    background-color: transparent;
}


.pagination.pagination__box .page-item.active .page-link {
    color: #2e2e2e;
    background-color: transparent;
    border-color: #d9d9d9;
}


.pagination.pagination__box .page-item.active .page-link {
    color: #2e2e2e;
    background-color: transparent;
    border-color: #d9d9d9;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.pagination.pagination__box .page-link:hover {
    border-color: #d9d9d9;
}

.pagination.pagination__box li:last-child a {
    color: #f07639;
}

a.tablebtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    vertical-align: bottom;
}

.datetime+div {
    max-width: 100% !important;
}








/* 
font-family: Avenir-Medium; 
 font-family: 'Montserrat', sans-serif;
  font-family: Avenir heavy;
  */